
<div >
  <br>
  
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  <h1>{{title}}</h1>
  <div style="display: flex; justify-content: center;">
  <div style="width: 70%;">
    <form class="add-form form-control" (ngSubmit)="addTopic()">
      <input class="form-control" type="text" placeholder="Topic ID" name="id" [(ngModel)]="topic.id"/>
      <input class="form-control" type="text" placeholder="Topic Name" name="name" [(ngModel)]="topic.name"/>
      <input class="form-control" type="text" placeholder="Topic Description" name="description" [(ngModel)]="topic.description"/><br>
      <input type="submit" class="btn btn-success form-control" value="Add Topic">
    </form>
  </div>
</div>
  
</div>
<br><br>


<div *ngFor = 'let topic of topics$'>
  <details>
    <summary>Topic ID: {{topic.id}}</summary>
    
    <div hidden>  
      <b>Name:</b> {{topic.name}}<br>
      <b>Description:</b> {{topic.description}}<br><br>
    </div> 


<div style="padding: 0px 15% 0px 15%;">

    <div class="input-group" >
      <div class="input-group-prepend">
        <div class="input-group-text">Topic Name</div>
      </div>
      <input type="text" class="form-control col-xs-4" placeholder="Topic Name" [(ngModel)]="topic.name" >
    </div>
    
    <div class="input-group" >
      <div class="input-group-prepend">
        <div class="input-group-text">Topic Email</div>
      </div>
      <input type="text" class="form-control col-xs-4" placeholder="Topic Email" [(ngModel)]="topic.description" >
    </div>
    
    <div  >
      <button (click)="updateTopic(topic.id, topic)" class="btn btn-info form-control">Update Topic with id: {{topic.id}}</button>
      <button (click)="onDelete(topic)" class="btn btn-danger form-control">Delete Topic with id: {{topic.id}}</button>
    </div>
  </div>
  <br>
  </details>


</div>
